body {
    margin: 0;
    padding: 25px;
  }

  .container-one {
    width: 100%;
    border: 7px solid black;
    padding: 30px;
    box-sizing: border-box;
  }

  .square{
  height: 180px;
  width: 40px;
  background-color: purple;
  display: inline-block;  
  }

  .rectangle{
  height: 200px;
  width: 400px;
  display: inline-block;
  background-color: green;
  margin: 0 100px;
  }

  .circle{
    height: 200px;
    width: 400px;
    display: inline-block;
    background-color:lightblue;
    border-radius: 65%;
    margin: 0 500px;
  }

  .container-two{
    width: 100%;
    padding: 50px;
    border: 5px dotted black;
    box-sizing: border-box ;
    margin-top: 75px; 
  }

  .box{
    width: 100em;
    height: 20vh;
    background-color: lightgoldenrodyellow;
    box-shadow: lightgray 8px 8px 4px 0px ;
  }

  .container-three {
    width: 50%;
    border: 1px solid rgb(233, 221, 221);
    background-color: whitesmoke;
    padding: 100px;
    box-sizing: border-box ;
    margin-top: 100px;
    -webkit-box-shadow: 3px 3px 5px 0px lightgray;
    -moz-box-shadow: 3px 3px 5px 0px lightgray;
    box-shadow: 3px 3px 5px 0pxlightgray;
  }

  h1{
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: navy;
    letter-spacing: 12px;
  }